<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>839675772122-tlsi36d5vann6geupumdamn84tptoe91.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839675772122-tlsi36d5vann6geupumdamn84tptoe91</string>
	<key>API_KEY</key>
	<string>AIzaSyBN6Ycpo2pa3OziRQE7TvZd8DJeYk1coBY</string>
	<key>GCM_SENDER_ID</key>
	<string>839675772122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.batanlp.phongTro</string>
	<key>PROJECT_ID</key>
	<string>phongtro-f37ac</string>
	<key>STORAGE_BUCKET</key>
	<string>phongtro-f37ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:839675772122:ios:5544838c4c8376ce</string>
	<key>DATABASE_URL</key>
	<string>https://phongtro-f37ac.firebaseio.com</string>
</dict>
</plist>